* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
}

.container {
  width: 31.25rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.25rem;
  margin: 2.5rem;
}

h1 {
  text-align: center;
  color: #333333;
  margin-bottom: 1.88rem;
}

form {
  display: flex;
  flex-direction: row;
  gap: 0.62rem;
  margin-bottom: 1.25rem;
}

#todo-input {
  width: 100%;
  padding: 0.62rem;
  font-size: 1rem;
}

button {
  padding: 0.62rem 1.24rem;
  cursor: pointer;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

form button:hover {
  background-color: #5dabf9;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding: 0.62rem;
}

li span {
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.62rem;
}

.actions button {
  background-color: #eeeeee;
  color: #333333;
  padding: 0.32rem 0.62rem;
  border-radius: 0.25rem;
}

.actions button:hover {
  background-color: #dddddd;
}
